// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$button-blue: linear-gradient(to right, #93c2eb, #a5cfeb, #9bd3f3, #afcff5);
$button-blue-hover: linear-gradient(to right, #83b1da, #95bfdb, #8bc3e3, #9fbfe5);
