<div class="container my-4">
  <div class="row col-6">
    <p class="md-spaced-font">Originally from Sparta, Wisconsin. Lived in South Carolina, Wisconsin for 4 years, moved to Tokyo in 2010.</p>
    <p class="md-spaced-font">Graduated from university with a degree in biology, but studied studio art for 3 years. Started working as a sports trainer in 2008 until the present.</p>
    <p class="md-spaced-font">Started studying programming in 2022 and joined the Le Wagon full-stack web developement bootcamp in 2023. In the process of making a career change for a better future for myself and my family.</p>
    <p class="md-spaced-font">Thank you for reading.</p>
  </div>
</div>
