.enlarged-font {
  font-size: 4rem;
}

.medium-font {
  font-size: 3rem;
}

.lg-spaced-font {
  margin: 75px auto 25px auto;
  font-size: 1.5rem;
}

.md-spaced-font {
  margin: 45px auto 10px auto;
  font-size: 1.5rem;
}
